.aboutme-section {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  bottom: 0px;
  color: #ffff;
  background-color: #1E0A3C;
  /* background-color: #39364f; */
  height: 40px;
}

.aboutme-section > * {
  display: flex;
  align-items: center;
  position: relative;
  right: 43px;
}