.aboutme-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0px;
  color: #ffff;
  background-color: #fca311;
  /* background-color: #39364f; */
  height: 40px;
}

.aboutme-section > a {
  /* display: flex; */
  align-items: center;
}