.aboutme-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 10;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #ffff;
  background-color: #1E0A3C;
  /* background-color: #39364f; */
  height: 50px;
  width: 100%;
}

.aboutme-section > * {
  display: flex;
  align-items: center;
  position: relative;
  /* right: 35px; */
  height: 35px;
}

.aboutme-sections img {
  aspect-ratio: 3/2;
  object-fit: contain;
}

i {
  font-size: 40px;
}