.edit-modal-form-con {
  background-color: #ffff;
  display: flex;
  /* gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
  padding: 36px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  height: 675px;
  /* font-size: 12px; */
}

.edit-modal-form {
  height: auto;
}

.errors {
  font-size: 14px;
}

.cancel-edit-modal {
  position: relative;
  top: 289px;
  right: 680px;
}

.styled-inputs {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
}

.styled-inputs:focus {
  border-bottom: 3px solid #d1410c;
}

/* .edit-modal-form {
  background-color: #ffff;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
} */

.update-event-btn {
  font-size: 12px;
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 30px;
  width: 90px;
  margin-top: 10px;
}

.update-event-btn:hover {
  background-color: #e25822;
}

.cancel-edit-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 30px;
  width: 60px;
  margin-left: 10px;
}

.cancel-edit-btn:hover {
  background-color: #e25822;
}