.event-feed {
  display: flex;
  justify-content: center;
  /* max-width: 1272px; */
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  z-index: 2;
}


.events {
  list-style: none;
  /* display: flex; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  vertical-align: top;
  /* justify-content: center; */
  /* flex-wrap: wrap;
  gap: 30px;
  grid-auto-flow: row dense; 
  overflow: hidden;
  justify-content: center; */
}

.event-listings {
  padding: 13px;
  width: 270px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(230,230,230, 1);
  text-decoration: none;
}

/* .events > .event-listings {
  flex-wrap: wrap;
  width: 260px;
  height: 140px;
  padding: 16px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;

  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  flex-direction: column;
  text-align: end;

  background-color: #ffba08;
  border: 1px gray solid;

  cursor: pointer;
} */

.event-listings:hover {
  /* background-color: #e9c46a; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: 1px solid #d1410c;
}

.event-div {
  /* display: flex; */
  position: relative;
  left: 80px;
  padding-top: 40px;
  padding-left: 22px;
  padding-right: 12px;
}

.event-div > h3 {
  /* display: flex;
  align-self: center; */
  /* position: relative;
  right: -50px; */
  color: #d1410c;
  /* font-size: 1.5rem;
  line-height: 2rem; */
  /* justify-content: flex-start; */
  font-size: 30px;
  font-weight: 900;
  letter-spacing: .5px;
  line-height: 40px
}

.event-listing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 274px;
  height: 210px;
  /* padding: 16px 16px; */
  gap: 10px;
  position: relative;
  bottom: 20px;
}

.event-name {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.image-div {
  /* background-image: url('https://images.pexels.com/photos/1659437/pexels-photo-1659437.jpeg?cs=srgb&dl=pexels-m-venter-1659437.jpg&fm=jpg'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* position: relative; */
  min-height: 150px;
  max-height: 150px;
  min-width: 270px;
  max-width: 270px;
}

.event-like-btn {
  display: block;
  margin-top: 7px;
  margin-bottom: 4px;
  width: 40px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  align-self: flex-end;
  position: relative;
  bottom: 25px;
}

.event-like-btn:hover {
  cursor: pointer;
  background-color: #d5d5d5;
}