.event-feed {
  display: flex;
  justify-content: center;
  /* max-width: 1272px; */
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  z-index: 2;
}


.events {
  list-style: none;
  /* display: flex; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 45px;
  vertical-align: top;
  /* justify-content: center; */
  /* flex-wrap: wrap;
  gap: 30px;
  grid-auto-flow: row dense; 
  overflow: hidden;
  justify-content: center; */
}

.events > .event-listings {
  flex-wrap: wrap;
  width: 260px;
  height: 80px;
  padding: 16px;
  text-decoration: none;

  display: flex;
  /* justify-content: center; */
  align-items: center; 

  /* background-color: #ffba08; */
  border: 1px gray solid;

  cursor: pointer;
}

.event-listings > div {
  text-align: start;
  /* background-color: green; */
}

.event-listings:hover {
  /* background-color: #e9c46a; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.event-div {
  /* display: flex; */
  position: relative;
  left: 80px;
  padding-top: 40px;
  padding-left: 22px;
  padding-right: 12px;
}

.event-div > h3 {
  /* display: flex;
  align-self: center; */
  /* position: relative;
  right: -50px; */
  color: #d1410c;
  /* font-size: 1.5rem;
  line-height: 2rem; */
  /* justify-content: flex-start; */
  font-size: 30px;
  font-weight: 900;
  letter-spacing: .5px;
  line-height: 40px
}