.new-event-form-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  /* background-color: #f4f0ec; */
  /* border-bottom: 1px solid #eeedf2; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); */
}

.new-event-form {
  /* margin-top: 15px; */
  padding: 0px 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
  /* max-height: 1120px; */
  /* background-color: #f4f0ec; */
  backdrop-filter: blur(10px);
  z-index: 3;
}

.styled-input {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  max-width: 500px;
  max-height: 300px;
}

.styled-textarea {
  border: 1px solid black;
  resize: none;
  height: 300px;
  width: 900px;
}

.styled-input:focus {
  border-bottom: 3px solid #d1410c;
}

.errors {
  margin-top: 20px;
  color: #d1410c;
}

hr {
  background-color: #eeedf2;
}

.basic-info-con {
  width: 66.66667%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: 20px;
  /* border-bottom: 1px solid #eeedf2; */
}

.basic-info-con > h2 {
  color: #d1410c;
}

.location-con {
  width: 66.66667%;
  margin-bottom: 48px;
  margin-top: 20px;
}

.location-con > h2 {
  color: #d1410c;
}

.date-time-con {
  width: 66.66667%;
  margin-bottom: 48px;
  margin-top: 20px;
}

.date-time-con > h2 {
  color: #d1410c;
}

.create-event-button {
  margin-bottom: 48px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 35px;
  width: 105px;
}

.create-event-button:hover {
  background-color: #e25822;
}

.description-con > h2 {
  color: #d1410c;
}

/* .new-event-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #eeedf2;
} */

.input .image-input {
  height: 100px;
  width: 100px;
}