.new-event-form-con {
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid black; */
}

/* .basic-info-con {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black; 
} */

.location-con {
  /* border-bottom: 1px solid black; */
}

.new-event-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border-bottom: 1px solid black; */
}