.oneevent-page {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-background {
  /* background-color: #39364FFC; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.bg-image-header {
  /* background-image: url('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F230834389%2F285623250502%2F1%2Foriginal.20210604-004626?w=600&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=f94e8cdbce75497cb7ede588ea34da22'); */
  background-size: cover;
  /* background-color: #dbe9f4; */
  /* position: relative; */
  position: absolute;
  z-index: -1;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  opacity: .4;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eeedf2;
  /* height: 66vh;
  max-height: inherit;
  min-height: 500px;
  overflow: hidden; */
  /* max-width: 1080px;
  margin-left: auto;
  margin-right: auto; */
  /* filter: blur(10px); */
  backdrop-filter: blur(5px);
}

.header-div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  z-index: 2;
  background-color: #ffdead;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%); */
  border-bottom: 1px solid #eeedf2;
  /* margin-top: 40px; */
}

#modal-button {
  background-color: red;
  color: #ffff;
}

.event-info {
  background-color: #ffdead;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.checkoutmodal-background {
  background-color: #39364FCC;
}

/* #39364FCC for modal background color */