.user-profile-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  height: 120vh;
}

.user-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  /* color: #d1410c; */
  position: relative;
  right: 512px;
}

.user-title > h2 {
  margin-left: 25px;
  color: #d1410c;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #d1410c; 
}