/* html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
} */

@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

:root {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 15px;
}