.single-ticket-page {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

.single-ticket-page > .singleticket-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-orders {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 5px;
}

.back-to-orders:hover {
  color: #d1410c;
}

.singleticket-con {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(233, 196, 106, 1);
  border: 3px solid #1E0A3C;
  /* color: #ffff; */
  width: 400px;
  height: 180px;
  margin-bottom: 20px;
}

.singleticket-con:hover{
  background-color: #e76f51;
}

.ticket-name {
  position: relative;
  /* left: 5px;   */
  font-size: 30px;
}

.ticket-quantity {
  position: relative;
}

/* .singleticket-con:hover {
  border: 1px solid #d1410c;
} */

/* .modal-background-edit {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 10;

  GOOD LUCK, JON
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: default;
} */