.singleticket-con {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(233, 196, 106, 1);
  border: 3px solid #1E0A3C;
  /* color: #ffff; */
  width: 400px;
  height: 130px;
  margin-bottom: 20px;
}

.singleticket-con:hover{
  background-color: #e76f51;
}

.ticket-name {
  position: relative;
  /* left: 5px;   */
  font-size: 30px;
}

.ticket-quantity {
  position: relative;
}

/* .singleticket-con:hover {
  border: 1px solid #d1410c;
} */