/* .split-scrn-ctn {
  display: flex;
  height: 100vh;
  width: 100%;
}

.split-scrn-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 80vh;
  width: 100%;
  min-width: 50%;
}

.split-scrn-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-body {
  background-color: #ffff;
  padding-left: 115px;
  padding-right: 115px;
  margin-left: 90px;
  height: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

*/
.split-scrn-ctn {
  display: flex;
  height: 100vh;
}

.login-body-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.split-scrn-img {
  flex: 1;
  background-image: url("https://cdn.evbstatic.com/s3-build/perm_001/1bab52/django/images/login/lateral-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

.split-scrn-img > .sp-sc-img {
  max-width: 100%;
  max-height: 100%;
}

.title-ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.login-title {
  display: flex;
  color: #39364f;
  font-weight: bolder;
  font-size: 52px;
  margin-bottom: 10px;
  margin-top: 15px;
  /* width: 67.5%; */
}

.login-home-btn {
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: #ffff;
  color: #ff8000;
  font-size: 30px;
  font-weight: bolder;
  width: 65%;
  cursor: pointer;
  padding: 0px;
}

.login-home-btn:hover {
  color: #e25822;
}

.email-field {
  border: solid 1px #ccc;
  width: 100%;
  height: 46px;
}

/* .email-field input {
  border: none;
  font-size: 12px;
  outline: 0;
  margin-left: 7.5px;
  height: 46px;
} */

label {
  font-size: 12px;
  margin-left: 7.5px;
  color: var(--eds-ui-600,#6f7287);
  position: relative;
  top: 32px;
  z-index: 1;
}

.email-input {
  border: none;
  font-size: 15px;
  outline: 0;
  height: 44px;
  width: 346px;
}

.password-field {
  border: solid 1px #ccc;
  /* padding: 0 8px; */
  position: relative;
  width: 100%;
  height: 46px;
}

.password-input {
  border: none;
  font-size: 12px;
  outline: 0;
  /* margin-left: 8px; */
  width: 346px;
  height: 44px;
}

/* .login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
} */

.toggle-signup {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #3659e3;
  position: relative;
  margin-top: 15px;
  border: none;
  background-color: #ffff;
}

.toggle-signup:hover {
  color: #3699e3;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.sub-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 40px;
  width: 100%;
}

.sub-btn:hover {
  background-color: #e25822;
}

/* .or-line {
  position: relative;
  left: 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 0.5px solid #a9a8b3;
  z-index: -1;
} */

.or-divider {
  color: #6f7287;
  border: 1px solid #a9a8b3;
  padding: 5px 10px;
  text-align: center;
  border-radius: 16px;
  width: 40px;
  height: 15px;
  font-size: 14px;
  position: relative;
  top: 24px;
  left: 145px;
  z-index: 999;
}

.or-divider::after {
  position: absolute;
  z-index: -1;
}

.demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 356px;
}

.demo-btn {
  cursor: pointer;
  background-color: #ffffff;
  color: #39364f;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  height: 35px;
  width: 100%;
}

.demo-btn:hover {
  background-color: rgb(240, 241, 242);
}

:focus {
  outline: 0px;
}

.password-field .eye-btn {
  position: absolute;
  right: 10px;
  /* left: 250px; */
  top: 25px;
}