.login-body {
  background-color: #ffff;
  padding: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  width: 350px;
  gap: 15px;
}

.toggle-signup {
  cursor: pointer;
  color: #3659e3;
}

.toggle-signup:hover {
  color: #3699e3;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

:focus {
  outline: 0px;
}