.signup-body {
  background-color: #ffff;
  padding: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  width: 350px;
  gap: 15px;
}

.toggle-login {
  cursor: pointer;
  color: #3659e3;
}

.toggle-login:hover {
  color: #3699e3;
}

.submit-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 29px;
  width: 85px;
}

.submit-btn:hover {
  background-color: #e25822;
}

.cancel-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 29px;
  width: 85px;
}

.cancel-btn:hover {
  background-color: #e25822;
}