.signup-body {
  background-color: #ffff;
  padding: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  width: 350px;
  gap: 15px;
}

.username-field {
  border: solid 1px #ccc;
  /* padding: 0 8px; */
  position: relative;
  width: 270px;
  height: 55px;
}

.username-field:hover {
  border: 1px solid black;
}

.email-field:hover {
  border: 1px solid black;
}

.password-field:hover {
  border: 1px solid black;
}

.username-field input {
  border: none;
  font-size: 12px;
  outline: 0;
  margin-left: 7.5px;
}

.username-field label {
  font-size: 12px;
}

.toggle-login {
  cursor: pointer;
  color: #3659e3;
  position: relative;
  left: 47px;
  margin-top: 15px;
  width: 62px;
}

.toggle-login:hover {
  color: #3699e3;
}

.submit-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 40px;
  width: 270px;
  margin-top: 15px;
}

.submit-btn:hover {
  background-color: #e25822;
}

.or-divider2 {
  color: #6f7287;
  border: 1px solid #a9a8b3;
  padding: 5px 10px;
  text-align: center;
  border-radius: 16px;
  width: 40px;
  height: 15px;
  font-size: 14px;
  position: relative;
  top: 24px;
  left: 145px;
  z-index: 5;
}

.cancel-btn {
  cursor: pointer;
  background-color: #ffffff;
  color: #39364f;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  height: 35px;
  width: 270px;
}

.cancel-btn:hover {
  background-color: rgb(240, 241, 242);
}