.signup-body-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.signup-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.signup-form {
  padding-top: 60px;
}

label {
  color: #6f7287;
  color: var(--eds-ui-600,#6f7287);
  font-size: 12px;
  line-height: 22px;
}

.form-ctn {
  margin-bottom: 8px;
}

.form-input {
  border: none;
  font-size: 14px;
  outline: 0;
  height: 44px;
  width: 346px;
  line-height: 12px;
  font-size: 14px;
}

.form-field {
  border: solid 1px #ccc;
  position: relative;
  width: 100%;
  height: 46px;
}

.username-field {
  border: solid 1px #ccc;
  /* padding: 0 8px; */
  position: relative;
  width: 270px;
  height: 55px;
}

.username-field:hover {
  border: 1px solid black;
}

.email-field:hover {
  border: 1px solid black;
}

.password-field:hover {
  border: 1px solid black;
}

.username-field input {
  border: none;
  font-size: 12px;
  outline: 0;
  margin-left: 7.5px;
}

.username-field label {
  font-size: 12px;
}

.toggle-login {
  cursor: pointer;
  color: #3659e3;
  position: relative;
  left: 47px;
  margin-top: 15px;
  width: 62px;
}

.toggle-login:hover {
  color: #3699e3;
}

.submit-btn {
  cursor: pointer;
  background-color: #d1410c;
  color: #ffff;
  border-radius: 4px;
  border: 1px solid #d1410c;
  height: 40px;
  width: 270px;
  margin-top: 15px;
}

.submit-btn:hover {
  background-color: #e25822;
}

.demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.demo-btn {
  cursor: pointer;
  background-color: #ffffff;
  color: #39364f;
  border-radius: 4px;
  border: 1px solid #dbdae3;
  height: 35px;
  width: 100%;
}