.homepage-slideshow {
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/7240401618ed7526be7cec3b43684583-2_tablet_1067x470.jpg");
  animation: slideshow infinite 30s linear;
}

@keyframes slideshow {
  from {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/7240401618ed7526be7cec3b43684583-2_tablet_1067x470.jpg");
  } 33% {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/f0efd0767ec3f77057270d84f78b1f41-3_4K_1920x544.jpg");
  } 66% {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/6aaf4a36e35b1b71bc077e200ac7429c-1_tablet_1067x470.jpg");
  } to {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/7240401618ed7526be7cec3b43684583-2_tablet_1067x470.jpg");
  } 
}

h1 {
  position: absolute;
  top: 400px;
  left: 95px;
  color: #ffff;
}