.homepage-slideshow {
  z-index: 1;
  background-size: cover;
  height: 500px;
  background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/7240401618ed7526be7cec3b43684583-2_tablet_1067x470.jpg");
  animation: slideshow infinite 20s;
}

@keyframes slideshow {
  from {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/7240401618ed7526be7cec3b43684583-2_tablet_1067x470.jpg");
  } 25% {
      background-image: url("https://cdn.evbstatic.com/s3-build/fe/build/images/f0efd0767ec3f77057270d84f78b1f41-3_4K_1920x544.jpg");
  } 50% {
      background-image: url("https://mgconcierge.com/app/uploads/2015/02/mgc-auction-napa-1200x300-c-default.jpg");
  } 75% {
      background-image: url("https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YWR2ZW50dXJlJTIwMTIwMCUyMHglMjAzMDB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  } to {
      background-image: url("https://images.unsplash.com/photo-1521336575822-6da63fb45455?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWR2ZW50dXJlJTIwMTIwMCUyMHglMjAzMDB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  } 
}

h1 {
  position: absolute;
  top: 300px;
  left: 50px;
  color: #fefae0;
}